@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Syne:wght@600;700;800&display=swap');
@import "./features/localfind/localfind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.font-syne {
  font-family: 'Syne', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
